<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/styles.css" />
		<title>{% if logged_in %}Company for Christy{% else %}Log in{% endif %}</title>
	</head>
	<body>
		<div id="container">
			{% if logged_in %}
				<h1>
					Hello {{ email }}!
				</h1>
				<p>
					This is Christy's and the current participant's web cam feeds:
				</p>
				<div class="row">
					<div class="span8">
						<div id="presenter-webcam"></div>
					</div>
					<div class="span8">
						<div id="participant-webcam"></div>
					</div>
				</div>
				<div class="row">
					<div class="span-one-third">
						<h3>
							You're booked in for {{ time }}.
						</h3>
						<p>
							<strong>Please note:</strong> Christy has full control over the people she wants to chat with and she may not stick to the scheduled times, so please be patient and enjoy the show.
						</p>
					</div>
					<div class="span-two-third">
						<h3>
							This is your web cam feed, smile!
						</h3>
						<div id="user-webcam"></div>
					</div>
				</div>
			{% else %}
				<div id="login">
					{% if error %}
						<div class="alert-message error">
							<p>
								<strong>Sorry but those details are incorrect!</strong>
							</p>
						</div>
					{% endif %}
					<form action="/participant/login" method="post">
						<fieldset>
							<legend>
								Please log in
							</legend>
							<div class="clearfix">
								<label for="email">
									Email
								</label>
								<div class="input">
									<input name="email" id="email" type="text" placeholder="Email" />
								</div>
							</div>
							<div class="actions">
								<input type="submit" value="Log in" class="btn primary" />
							</div>
						</fieldset>
					</form>
				</div>
			{% endif %}
		</div>
		{% if logged_in %}
			<!--<script src="https://www.tokbox.com/v0.91/js/TB.min.js"></script>-->
			<script src="https://staging.tokbox.com/v0.91/js/TB.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
			<script src="/_ah/channel/jsapi"></script>
			<script>
			<!--
				var apiKey		= '{{ config.api_key }}';
				var connected	= false;
				var sessionId	= '{{ session_id }}';
				var token		= '{{ token }}';
				var props		= '{{ config.props }}';
				var presenter	= false;
				var streams		= [ ];
				var channel;
				var stream;
				var participant;
				
				token			= 'devtoken';
				
				TB.setLogLevel( TB.DEBUG );
				
				var session = TB.initSession( sessionId );    
				  
				session.addEventListener( 'sessionConnected', sessionConnectedHandler );
				session.addEventListener( 'streamCreated', streamCreatedHandler );  
				session.addEventListener( 'streamDestroyed', streamDestroyedHandler ); 
				   
				session.connect( apiKey, token );
				
				function sessionConnectedHandler(e)
				{
					streams	= e.streams;
					
					session.publish( 'user-webcam' );
				}
				
				function streamCreatedHandler(e)
				{
					var l;
					var s;
					
					if ( !connected )
					{
						stream	= e.streams[ 0 ];

						$.postAJAX( { method: 'connected', stream_id: stream.streamId }, function(d)
						{
							channel	= new goog.appengine.Channel( d );
							
							channel	= channel.open()
							
							channel.onmessage	= channelOnMessage;
						});
						
						connected	= true;
					}
					else
					{
						streams.push( e.streams[ 0 ] );
					}
				}
				
				function streamDestroyedHandler(e)
				{
					var d	= e.streams[ 0 ].streamId;
					
					streams.filter( function(s)
					{
						return s.streamId != d;
					});
				}
				
				function channelOnMessage(e)
				{
					var d	= JSON.parse( e );
					
					console.log('channelOnMessage',e);
					
					if ( !presenter )
					{
						presenter	= true;
						
						addStream( getStream( d.presenter ), 'presenter-webcam' );
					}
					
					if ( participant )
					{
						session.unsubscribe( participant );
					}
					
					participant	= addStream( getStream( d.participant ), 'participant-webcam' );
				}
				
				function addStream(s, t)
				{
					return session.subscribe( s, t, props ).stream;
				}
				
				function getStream(id)
				{
					var l;
					var s;
					var t;
					
					l	= streams.length;
					
					for ( var x = 0; x < l; x++ )
					{
						t	= streams[ x ];
						
						if ( t.streamId == id )
						{
							s	= t;
							
							break;
						}
					}
					
					return s;
				}
				
				$.postAJAX	= function(d, c)
				{
					$.post( '/api/participant', d, c, 'json' );
				}
			-->
			</script>
		{% endif %}
	</body>
</html>