<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
		<link rel="stylesheet" href="/assets/css/styles.css" />
		<title>{% if logged_in %}Admin{% else %}Log in{% endif %}</title>
	</head>
	<body>
		<div id="container">
			{% if logged_in %}
				<h1>
					Hello Christy!
				</h1>
				<h3>
					Hope you're sitting comfortably cos all these lovely people below would like to chat with you.
				</h3>
				<p>
					This is your current web cam feed, smile:
				</p>
				<div id="presenter-webcam"></div>
				<p>
					We've added their scheduled times, but you're in control so feel free to select whomever you want to chat to:
				</p>
				<ul class="media-grid" id="streams">
					
				</ul>
			{% else %}
				<div id="login">
					{% if error %}
						<div class="alert-message error">
							<p>
								<strong>Sorry but those details are incorrect!</strong>
							</p>
						</div>
					{% endif %}
					<form action="/presenter/login" method="post">
						<fieldset>
							<legend>
								Please log in
							</legend>
							<div class="clearfix">
								<label for="username">
									Username
								</label>
								<div class="input">
									<input name="username" id="username" type="password" placeholder="Username" />
								</div>
							</div>
							<div class="clearfix">
								<label for="password">
									Password
								</label>
								<div class="input">
									<input name="password" id="password" type="password" placeholder="Password" />
								</div>
							</div>
							<div class="actions">
								<input type="submit" value="Log in" class="btn primary" />
							</div>
						</fieldset>
					</form>
				</div>
			{% endif %}
		</div>
		{% if logged_in %}
			<!--<script src="https://www.tokbox.com/v0.91/js/TB.min.js"></script>-->
			<script src="https://staging.tokbox.com/v0.91/js/TB.min.js"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
			<script>
			<!--
				var apiKey		= '{{ config.api_key }}';
				var connected	= false;
				var sessionId	= '{{ session_id }}';
				var token		= '{{ token }}';
				var props		= {{ config.props }};
				var stream;
				var streams;
				
				token			= 'moderator_token';
				
				TB.setLogLevel( TB.DEBUG );
				
				var session = TB.initSession( sessionId );    
				  
				session.addEventListener( 'sessionConnected', sessionConnectedHandler );
				session.addEventListener( 'streamCreated', streamCreatedHandler );
				session.addEventListener( 'streamDestroyed', streamDestroyedHandler );
				   
				session.connect( apiKey, token );
				
				function sessionConnectedHandler(e)
				{
					streams	= e.streams;
					
					session.publish( 'presenter-webcam', props );
				}
				
				function streamCreatedHandler(e)
				{
					var s	= e.streams[ 0 ];
					
					if ( !connected )
					{
						stream	= s;
						
						updateStreams();
						
						$.postAJAX( { method: 'connected', stream_id: stream.streamId }, function(d)
						{
							console.log(d);
						});
						
						connected	= true;
					}
					else
					{
						streams.push( s );
						
						addStream( s );
					}
				}
				
				function streamDestroyedHandler(e)
				{
					var d	= e.streams[ 0 ].streamId;
					
					streams	= streams.filter( function(s)
					{
						return s.streamId != d;
					});
					
					$( '#stream' + d + 'li' ).remove();
					
					session.unsubscribe( e.streams[ 0 ] );
				}
				
				function updateStreams()
				{
					var l	= streams.length;
					var s;
					
					for ( var x = 0; x < l; x++ )
					{
						s	= streams[ x ];
						
						if ( s.streamId != stream.streamId )
						{
							addStream( s );
						}
					}
				}
				
				function addStream(s)
				{
					var id	= 'stream' + s.streamId;
					var li	= $( '<li id="' + id + 'li"><div id="' + id + '"></div><br /><a href="javascript:selectStream(\'' + s.streamId + '\')" class="btn">Select</a></li>' );
					
					$( '#streams' ).append( li );
					
					$.postAJAX( { method: 'get_details', stream_id: s.streamId }, function(d)
					{
						$( '#' + id + 'li a' ).before( '<strong>Email: ' + d.email + '<br />Time: ' + d.time + '<br /></strong>' );
					});
					
					session.subscribe( s, id, props );
				}
				
				function selectStream(id)
				{
					$( '#streams li a' ).removeClass( 'primary' );
					
					$( '#stream' + id + 'li a' ).addClass( 'primary' );
					
					$.postAJAX( { method: 'set_stream', stream_id: id }, function(d)
					{
						console.log(d);
					});
				}
				
				$.postAJAX	= function(d, c)
				{
					$.post( '/api/presenter', d, c, 'json' );
				}
			-->
			</script>
		{% endif %}
		<script>
			var _gaq=[['_setAccount','UA-25967876-1'],['_trackPageview'],['_trackPageLoadTime']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>