<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta name="description" content="" />
		<meta name="author" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="/assets/css/styles.css" />
		<link type="text/plain" rel="author" href="/assets/humans.txt" />
		<title>Company for Christy</title>
	</head>
	<body>
		<!-- <div id="loader">
					<div id="loader-inner"></div>
				</div> -->
		<div id="container" class="container">
			<h1>
				Welcome!
			</h1>
			<h4>
				You're now watching the live feed:
			</h4>
			<div class="row">
				<div class="span8" id="presenter-webcam"></div>
			</div>
			<div class="row">
				<div class="span8" id="participant-webcam"></div>
			</div>
		</div>
		<!-- <div id="badbrowser" class="alert-message block-message error container-fluid">
					<h1>
						Someone's old skool
					</h1>
					<h3>
						Your browser is pretty old and that's not cool in internet town. The only way you're going to be able to take part is if you download a new web browser; trust me, they're good:
					</h3>
					<div class="alert-actions">
						<a class="btn large primary" href="http://google.com/chrome/">Get Google Chrome</a>
						<a class="btn large" href="http://getfirefox.com/">Get FireFox</a>
						<a class="btn large" href="http://www.apple.com/safari/">Get Safari</a>
						<a class="btn large" href="http://www.opera.com/">Get Opera</a>
					</div>
					<h4>
						Wait, what's <em>exactly</em> wrong with my browser?
					</h4>
					<p>
						Well my old fruity, we require that your web browser have a the ability to subscribe to <a href="http://dev.w3.org/html5/eventsource/">server-sent events</a> (or 'EventSource'). This feature allows your browser to listen to changes that will occur during this broadcast and act accordingly. 
					</p>
					<h4>
						But what's wrong with AJAX?
					</h4>
					<p>
						Nothing, but in this case it's way too slow. The beauty of 'EventSource' is that there are no headers, no polling and it's simply one-way communication from the server right down to your clever browser. AJAX has too much overhead and is way too slow for what we want to do.
					</p>
					<h4>
						Why have you highlighted Google Chrome?
					</h4>
					<p>
						Chrome is moving very fast. It may not be the 'best' browser out there according to everyone but it's very well supported, it automatically updates itself and its plugins (such as Flash) and is generally very well behaved. We love the other browsers too, but in this case we feel Chrome is the winner.
					</p>
				</div> -->
		<div id="no-js" class="alert-message block-message error container-fluid">
			<h1>
				Oh dear...
			</h1>
			<h3>
				Sorry but this web site requires that <a href="http://www.google.co.uk/search?q=define%3A+javascript">JavaScript</a> be enabled. Please <a href="http://www.google.co.uk/search?q=how+to+enable+javascript">enable it for your browser</a>.
			</h3>
		</div>
		<!--<script src="https://www.tokbox.com/v0.91/js/TB.min.js"></script>-->
		<script src="https://staging.tokbox.com/v0.91/js/TB.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
		<script src="/assets/js/heartcode-canvasloader-min.js"></script>
		<script>
		<!--
			var apiKey		= '{{ config.api_key }}';
			var sessionId	= '{{ session_id }}';
			var token		= '{{ token }}';
			var props		= {{ config.props }};
			var streams		= [ ];
			var presenter;
			var participant;
			
			$( 'html' ).removeClass( 'no-js' );
			
			token			= 'devtoken';
			
			TB.setLogLevel( TB.DEBUG );
			
			var session = TB.initSession( sessionId );    
			  
			session.addEventListener( 'sessionConnected', sessionConnectedHandler );
			session.addEventListener( 'streamCreated', streamCreatedHandler );  
			session.addEventListener( 'streamDestroyed', streamDestroyedHandler ); 
			   
			session.connect( apiKey, token );
			
			function sessionConnectedHandler(e)
			{
				streams	= e.streams;
				
				setInterval( pollForUpdate, 500 );
			}
			
			function streamCreatedHandler(e)
			{
				var s	= e.streams[ 0 ];
				
				streams.push( s );
			}
			
			function streamDestroyedHandler(e)
			{
				var d	= e.streams[ 0 ].streamId;
				
				if ( d == presenter.stream.streamId )
				{
					presenter	= null;
				}
				
				streams.filter( function(s)
				{
					return s.streamId != d;
				});
				
				session.unsubscribe( e.streams[ 0 ] );
			}
			
			function pollForUpdate()
			{
				$.post( '/api/public', { method: 'get_streams' }, function(d)
				{
					if ( !presenter && d.presenter )
					{
						presenter	= addStream( getStream( d.presenter ), 'presenter-webcam' );
					}
					else if ( presenter && d.presenter )
					{
						if ( presenter.stream.streamId != d.presenter )
						{
							session.unsubscribe( presenter );
							
							presenter	= addStream( getStream( d.presenter ), 'presenter-webcam' );
						}
					}
					
					if ( participant )
					{
						if ( participant.stream.streamId != d.participant )
						{
							if ( participant )
							{
								session.unsubscribe( participant );
							}
							
							var s	= getStream( d.participant );
							
							if ( s )
							{
								participant	= addStream( getStream( d.participant ), 'participant-webcam' );
							}
						}
					}
					else if ( d.participant )
					{
						participant	= addStream( getStream( d.participant ), 'participant-webcam' );
					}
					
				}, 'json' );
			}
			
			function addStream(s, t)
			{
				var d	= 'stream' + s.streamId
				
				$( '#' + t ).empty().append( '<div id="' + d + '"></div>' );
				
				return session.subscribe( s, d, props );
			}
			
			function getStream(id)
			{
				var l;
				var s;
				var t;
				
				l	= streams.length;
				
				for ( var x = 0; x < l; x++ )
				{
					t	= streams[ x ];
					
					if ( t.streamId == id )
					{
						s	= t;
						
						break;
					}
				}
				
				return s;
			}
		-->
		</script>
		<script>
			var _gaq=[['_setAccount','UA-25967876-1'],['_trackPageview'],['_trackPageLoadTime']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
			g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>