.absolute{position:absolute;display:block;}
.fixed{position:fixed;display:block;}
.hide{display:none;visibility:hidden;}
.show{display:block;visibility:visible;}
.top{z-index:2147483647;}
#container,#badbrowser,#no-js,#login{margin:20px auto;}
#container{margin:20px;}
#badbrowser,#no-js{max-width:960px;min-width:500px;}#badbrowser .alert-actions,#no-js .alert-actions{margin:20px 0;}
#no-js{display:none;visibility:hidden;}
#loader{position:fixed;display:block;z-index:2147483647;width:100%;height:100%;background:#ffffff;}#loader #loader-inner{position:absolute;display:block;width:40px;height:40px;}
#login{width:400px;}
.no-js #badbrowser,.no-js #container{display:none;visibility:hidden;}
.no-js #no-js{display:block;visibility:visible;}
