// Import bootstrap
@import "bootstrap.less";

#badbrowser,
#no-js
{
	margin: 20px auto;
	max-width: 960px;
	min-width: 500px;
	
	.alert-actions
	{
		margin: 20px 0;
	}
}
#no-js
{
	.hide;
}

.no-js
{
	#badbrowser,
	#container
	{
		.hide;
	}
	#no-js
	{
		.show;
	}
}